* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    width: 25%;
    height: auto;
    background-color: #05203b25;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #001F3F;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    font-size: 24px;

}

.menu__lista {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;


}

section {
    padding: 1vw;
    font-size: 24px;
    margin-bottom: 1rem;
}

section:nth-child(odd) {
    background-color: #ddd;
}

.menu__item {
    margin-right: 2rem
}
.form__input,
.form__textarea {
    width: 100%;
    padding: 1vw;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 5px #4d4d4d;
}

.form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 24px;
}

.form__label {
    margin: 1rem 1rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.form__legenda {
    font-size: 32px;
    background-color: #05203b25;
    color: #535050;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

.form__fieldset {
    padding: 1rem;
    color: #000000;
}

.menu__link {
    text-decoration: none;
    color: #F5F5F5;
    padding: 1%;
    display: block;

}

.menu__link:hover {
    text-decoration: underline;
    color: #FFB400;
}

.form__botao--enviar {
    color: #000000;
    margin: 1rem 1rem;
    padding: 0.7rem 1.5rem;
    background-color: #FFB400;
    border-radius: 25px;
    border: double #F5F5F5;
    font-size: 24px;
    transition: background-color 1s, color 1s;
    height: max-content;
    cursor: pointer;
    box-shadow: 0px 2px 5px #4d4d4d;
}

.form__botao--enviar:hover {
    color: #F5F5F5;
    background-color: #004D4D;
}
/* Ajustes para tablets/celulares */
@media (max-width: 767px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
        height: 0%;

    }
    .menu__lista {
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        margin-bottom: 0.5rem;
    }
}