//Tipografica
$font-principal: Arial, Helvetica, sans-serif;
$font_size-padrao: 24px;
//Cores
$cor-fundo: #F5F5F5;
$cor-primaria: #4d4d4d;
$background-cabecalho: #001F3F;
$cor-fundo-logo: #05203b25;
//Espaçamentos
$padding-padrao: 1vw;
$gap-padrao: 10px;
$margin-inferior-padrao: 1rem;
//Efeitos
$sombras: 0px 2px 5px rgb(0, 0, 0);
$estilo-lista: none;
$border-radius-padrao: 5px;